[Algemeen]
# 0 = 1 frame voor x aantal metingen, 1 = real time toevoeging van metingen tot x aantal metingen dan
# verversen van grafiek
typemeting=0
nmetingen=100

[Grafiek]
# MsPerFrame=1000
MsPerFrame=1000

# 00, xy as
# x-as: 0 = tijd, 1 = ticks, 2 = metingen
Grafiektypex=0

# y-as: 0 = ruwe data (ints), 1 = voltage, 2 = intensiteit, 3 = OD
Grafiektypey=0

# x-as
Stapsgrootte=10

[RTData]
# MsPerData=1000
MsPerData=1000

[VasteParameters]
# Conversie van ADC naar voltage
ADC2V=0.0008056640625
# gebruikte sigma std 0xsigma 1xsigma 2xsigma etc
std=3
