[Algemeen]
typemeting = 1
nmetingen = 10

[Grafiek]
msperframe = 100
grafiektypex = 0
grafiektypey = 2
stapsgrootte = 10

[RTData]
msperdata = 100

[VasteParameters]
adc2v = 0.0008056640625
std = 3
path_to_ref = ../data/reference.txt

[StudentMeting]
measurement = 1000
measurement_time = 1000
measurement_type = 0
marge_student_verify = 0.2

