[Algemeen]
typemeting = 0
nmetingen = 100

[Grafiek]
msperframe = 1000
grafiektypex = 0
grafiektypey = 0
stapsgrootte = 10

[RTData]
msperdata = 1000

[VasteParameters]
adc2v = 0.0008056640625
std = 3
path_to_ref = ../data/reference.txt

[StudentMeting]
measurement = 1000
measurement_time = 1000
measurement_type = 0
marge_student_verify = 0.01

