[Algemeen]
# 0 = 1 frame voor x aantal metingen, 1 = real time toevoeging van metingen tot x aantal metingen dan
# verversen van grafiek
typemeting=0
nmetingen=100

[Grafiek]
# MsPerFrame=1000
MsPerFrame=1000

# 00, xy as
# x-as: 0 = tijd, 1 = metingen
Grafiektypex=0

# y-as: 0 = voltage, 1 = intensiteit, 2 = transmissie ,3 = OD
Grafiektypey=0

# x-as
Stapsgrootte=10

[RTData]
# MsPerData=1000
MsPerData=1000

[VasteParameters]
# Conversie van ADC naar voltage
ADC2V=0.0008056640625
# gebruikte sigma std 0xsigma 1xsigma 2xsigma etc
std=3
path_to_ref=../data/reference.txt

[StudentMeting]
# Aantal meetpunten voor een resultaat
measurement=1000
# Tijd in ms
measurement_time=1000
# Meting soort (transmissie = 0; OD = 1)
measurement_type=0
# Marge in de verficatie van een student meting (in Volt)
marge_student_verify = 0.2