[Algemeen]
typemeting = 1
nmetingen = 100

[Grafiek]
msperframe = 500
grafiektypex = 0
grafiektypey = 0

[RTData]
msperdata = 100

[VasteParameters]
std = 3
path_to_ref = ../data/reference.txt

[StudentMeting]
measurement = 1000
measurement_time = 1000
measurement_type = 1
marge_student_verify = 0.2

